body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #777;
    background: url("./assets/backgroundabout.png")
    
    }
    
}
.navbar.container-fluid  {
    margin-left: 10px;

}
.navbar-brand{
    margin-left: 0 auto;
    text-align: center;
}

.navbar {
    font-size: 18px;
    margin-bottom: -6px;

}
    .navbar .btn-navbar {
        display: none;
    }   
    h1{
        color: #9345ad;
        font-size: 40px;
    }
    /* //help! */
    .thumbnail{
        float: left;
        width: 250px;
        height: 280px;

    }
    .caption{
        clear: both;
        margin-left:25px;
    }
    .navbar-container{
        -ms-flex-direction: row;
    }
    nav .navbar-nav .navbar-right{
        flex-direction: row;
    }
    
    }

    // Large desktop
  @media (min-width: 1200px) { 
     .caption .container{
          width:450px
      }
      @media only screen and (max-width: 600px){
          .navbar-header{
              width:100%;
          }
        .nav .navbar-nav .navbar-right{
            flex-direction:row;
        
        }
        .caption{
            width:450px;
            margin-left:30px;
        }


      }
          
      }
   }